extends layout

block content
    h1= title
    form(name="new-user", action="/login", method="post")
        div.input
            span.label userid
            input(type="text", name="userid")
        div.input
            span.label password
            input(type="text", name="password")
        div.actions
            input(type="submit", value="login")
